.hero-foot {
    position: -webkit-sticky;
    position: sticky;
    top: -2px;
    z-index: 1;
}

.hero-foot .container hr {
    background-color: #8fedfc;
    height: 2px;
}

.hero-foot .container {
    max-width: 1020px;
}

hr {
    margin: 0px;
    border: 5px;
}
