<!-- HTML Meta Tags -->
<title>Why not UE?</title>
<meta name="description" content="Joining the UE as a national is a dangerous and unnecessary choice for MIT graduate students.">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://www.uenotformit.org/">
<meta property="og:type" content="website">
<meta property="og:title" content="Why not UE?">
<meta property="og:description" content="Joining the UE as a national is a dangerous and unnecessary choice for MIT graduate students.">
<meta property="og:image" content="https://www.uenotformit.org/logo.svg">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="uenotformit.org">
<meta property="twitter:url" content="https://www.uenotformit.org/">
<meta name="twitter:title" content="Why not UE?">
<meta name="twitter:description" content="Joining the UE as a national is a dangerous and unnecessary choice for MIT graduate students.">
<meta name="twitter:image" content="https://www.uenotformit.org/logo.svg">

<!-- Meta Tags Generated via https://opengraph.dev -->
